{% extends '../../index_master.html' %}
{% block title %}
FCV | Raza
{% endblock %}




{% block content %}
<div class="right_col" role="main">
    <h1>Razas</h1>
    <div style="display: inline-block">
       Lista de Razas
    </div>
    <div class="table-responsive">
        <table class="table ">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Raza</th>
            <th scope="col">Especie</th>
            <th scope="col" style="width: 200px!important">Acci&oacute;n</th>
            </tr>
        </thead>
        <tbody>
            {% for r in razas %}
            <tr>
                <th scope="row">{{r.id_raza}}</th>
                <td>{{r.raza}}</td>
                <td>{{r.especie}}</td>
                <td  style="width: 220px!important">
                    {% comment %} <a href="#" target="popup" onclick="window.open('clinicas_detalle/{{r.id_medico}}','popup','width=600,height=650'); return false;"><button class="btn btn-primary" style:"height: 25px" data-toggle="tooltip" data-placement="top" title="Ver detalle"><i class="fa fa-eye"></i></button></a> {% endcomment %}
                    {% comment %} <button class="btn btn-warning" onclick="window.location.href='clinicas_modificar/{{r.id_medico}}'" data-toggle="tooltip" data-placement="top" title="Actualizar"><i class="fa fa-refresh"></i></button> {% endcomment %}
                    {% comment %} <button class="btn btn-danger" onclick="window.location.href='atencionesDelete/{{a.nro_atencion}}'" data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="fa fa-trash"></i></button> {% endcomment %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    
        </table>
    </div>

</div>

{% endblock %}