{% extends '../index_master.html' %}
{% block title %}
FCV | Vacunación
{% endblock %}




{% block content %}
<div class="right_col" role="main">
    <h1>Vacunación | Agregar Vacunación</h1>
    {% csrf_token %}
    <form method="POST">
      <div class="form-group row">
        <label for="id_especie" class="col-4 col-form-label">Paciente</label> 
        <div class="col-8">
            <select id="id_paciente" name="id_paciente" class="custom-select" required="required" onchange="getPacienteSelected()">
                <option value="" selected="true" disabled="disabled">- Seleccione -</option>
                {% for p in pacientes %}
                <option value="{{ p.id_paciente }}" {% if p.id_paciente == paciente.id_paciente %} selected="true" {% endif%}>{{ p.id_paciente }} - {{ p.paciente }}</option>
                {% endfor %}
            </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="id_especie" class="col-4 col-form-label">Especie</label> 
        <div class="col-8">
            <select id="id_especie" name="id_especie" class="custom-select" required="required" onchange="loadVaccines()">
                <option value="" selected="true" disabled="disabled">- Seleccione -</option>
                {% for e in especies %}
                <option value="{{ e.id_especie }}" {% if e.id_especie == paciente.id_especie %} selected="true" {% endif%}>{{ e.descripcion }}</option>
                {% endfor %}
            </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="id_vacuna" class="col-4 col-form-label">Vacuna</label> 
        <div class="col-8">
            <select id="id_vacuna" name="id_vacuna" class="custom-select" required="required">
                <option value="" selected="true" disabled="disabled">- Seleccione -</option>
                {% for v in vacunas %}
                  {% if v.id_especie == paciente.id_especie %}
                    <option value="{{ v.id_vacuna }}">{{ v.nombre }}</option>
                  {% endif %}
                {% endfor %}
            </select>
        </div>
      </div>
        <div class="form-group row">
          <label for="serie" class="col-4 col-form-label">Serie</label> 
          <div class="col-8">
            <input id="serie" name="serie" type="text" class="form-control">
          </div>
        </div> 
        <div class="form-group row">
          <div class="offset-4 col-8">
            <button name="submit" type="submit" class="btn btn-primary">Agregar</button>
          </div>
        </div>
      </form>

</div>

{% endblock %}