{% extends '../index_master.html' %}
{% block title %}
FCV | Vacunación
{% endblock %}




{% block content %}
<div class="right_col" role="main">
    <h1>Vacunaciones | Lista de vacunaciones</h1>
    
{% comment %} TABLA {% endcomment %}
<div class="table-responsive">
    <table class="table ">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Paciente</th>
        <th scope="col">Especie</th>
        <th scope="col">Vacuna</th>
        <th scope="col">Serie</th>
        <th scope="col">Fecha</th>
        <th scope="col" style="width: 200px!important">Acci&oacute;n</th>
        </tr>
    </thead>
    <tbody>
        {% for v in vacunaciones %}
        <tr>
            <th scope="row">{{v.id_vacunacion}}</th>
            <td >{{v.paciente}}</td>
            <td >{{v.especie}}</td>
            <td >{{v.vacuna}}</td>
            <td >{{v.serie}}</td>
            <td >{{v.f_vac}}</td>
            <td  style="width: 220px!important">
                {% comment %} <a href="#" target="popup" onclick="window.open('clinicas_detalle/{{m.id_medico}}','popup','width=600,height=650'); return false;"><button class="btn btn-primary" style:"height: 25px" data-toggle="tooltip" data-placement="top" title="Ver detalle"><i class="fa fa-eye"></i></button></a> {% endcomment %}
                {% comment %} <button class="btn btn-warning" onclick="window.location.href='clinicas_modificar/{{m.id_medico}}'" data-toggle="tooltip" data-placement="top" title="Actualizar"><i class="fa fa-refresh"></i></button> {% endcomment %}
                {% comment %} <button class="btn btn-danger" onclick="window.location.href='atencionesDelete/{{a.nro_atencion}}'" data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="fa fa-trash"></i></button> {% endcomment %}
            </td>
        </tr>
        {% endfor %}
    </tbody>

    </table>
</div>

</div>

{% endblock %}