{% extends '../index_master.html' %}
{% block title %}
FCV | Especie
{% endblock %}




{% block content %}
<div class="right_col" role="main">
    <h1>Especies</h1>
    <div style="display: inline-block">
        <button class="btn btn-primary" onclick="window.location.href='/especie_agregar'"><i class="fa fa-plus"></i> Nueva Especie</button>
    </div>
    <div class="table-responsive">
        <table class="table ">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col" style="width: 200px!important">Acci&oacute;n</th>
            </tr>
        </thead>
        <tbody>
            {% for e in especies %}
            <tr>
                <th scope="row">{{e.id_especie}}</th>
                <td>{{e.descripcion}}</td>
                <td  style="width: 220px!important">
                    <button class="btn btn-success"  onclick="window.location.href='razas_agregar/{{e.id_especie}}'" style:"height: 25px" data-toggle="tooltip" data-placement="top" title="Agregar raza"><i class="fa fa-cat"></i></button>
                    
                    {% comment %} <a href="#" target="popup" onclick="window.open('clinicas_detalle/{{e.id_medico}}','popup','width=600,height=650'); return false;"><button class="btn btn-primary" style:"height: 25px" data-toggle="tooltip" data-placement="top" title="Ver detalle"><i class="fa fa-eye"></i></button></a> {% endcomment %}
                    {% comment %} <button class="btn btn-warning" onclick="window.location.href='clinicas_modificar/{{e.id_medico}}'" data-toggle="tooltip" data-placement="top" title="Actualizar"><i class="fa fa-refresh"></i></button> {% endcomment %}
                    {% comment %} <button class="btn btn-danger" onclick="window.location.href='atencionesDelete/{{a.nro_atencion}}'" data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="fa fa-trash"></i></button> {% endcomment %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    
        </table>
    </div>


</div>

{% endblock %}