{% extends '../index_master.html' %}
{% block title %}
FCV | Receta
{% endblock %}




{% block content %}
<div class="right_col" role="main">
    <h1>Recetas | Agregar Receta</h1>
    {% csrf_token %}
    <form method="POST">
        <div class="form-group row">
          <label for="id_atencion" class="col-4 col-form-label">Atención</label> 
          <div class="col-8">
            <select id="id_atencion" name="id_atencion" class="custom-select" required="required">
              <option value="" disabled="disabled">- Seleccione -</option>
              {% for a in atenciones %}
              <option value="{{ a.id_atencion }}" {% if a.id_atencion == id_atencion %} selected="true" {% endif %}>{{ a.id_atencion }}</option>
              {% endfor %}
          </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="prescripcion" class="col-4 col-form-label">Prescripción</label> 
          <div class="col-8">
            <textarea id="prescripcion" name="prescripcion" class="form-control"></textarea>
          </div>
        </div> 
        <div class="form-group row">
          <div class="offset-4 col-8">
            <button name="submit" type="submit" class="btn btn-primary">Agregar</button>
          </div>
        </div>
      </form>

</div>

{% endblock %}