{% extends '../index_master.html' %}
{% block title %}
FCV | Receta
{% endblock %}




{% block content %}
<div class="right_col" role="main">
    <h1>Recetas</h1>
    
    
    {% comment %} TABLA {% endcomment %}
    <div class="table-responsive">
        <table class="table ">
        <thead>
            <tr>
            <th scope="col">Id receta</th>
            <th scope="col">Id atención</th>
            <th scope="col">Fecha</th>
            <th scope="col">Prescripción</th>
            <th scope="col" style="width: 200px!important">Acci&oacute;n</th>
            </tr>
        </thead>
        <tbody>
            {% for rx in recetas %}
            <tr>
                <th scope="row">{{rx.id_receta}}</th>
                <td >{{rx.id_atencion}}</td>
                <td>{{rx.f_rec}}</td>
                <td>{{rx.prescripcion}}</td>
                <td  style="width: 220px!important">
                    <a href="#" target="popup" onclick="window.open('recetas_detalle/{{rx.id_receta}}','popup','width=1120,height=650'); return false;"><button class="btn btn-primary" style:"height: 25px" data-toggle="tooltip" data-placement="top" title="Ver detalle"><i class="fa fa-eye"></i></button></a>
                    {% comment %} <button class="btn btn-warning" onclick="window.location.href='clinicas_modificar/{{rx.id_medico}}'" data-toggle="tooltip" data-placement="top" title="Actualizar"><i class="fa fa-refresh"></i></button> {% endcomment %}
                    {% comment %} <button class="btn btn-danger" onclick="window.location.href='atencionesDelete/{{a.nro_atencion}}'" data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="fa fa-trash"></i></button> {% endcomment %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    
        </table>
    </div>


</div>

{% endblock %}