{% extends '../index_master.html' %}
{% block title %}
FCV | Veterinario
{% endblock %}




{% block content %}
<div class="right_col" role="main">
  {% comment %} <h1>Veterinarios</h1> {% endcomment %}
  <div style="display: inline-block">
     {% comment %} Agregar Veterinario {% endcomment %}
  </div>

    <h1>Veterinarios | Agregar Veterinario</h1>
    {% csrf_token %}
      <form method="POST">
        <div class="form-group row">
          <label for="id_clinica" class="col-4 col-form-label">Clinica</label> 
          <div class="col-8">
          <select id="id_clinica" name="id_clinica" class="custom-select" required="required">
              <option value="" selected="true" disabled="disabled">- Seleccione -</option>
              {% for c in clinicas %}
              <option value="{{c.id_clinica}}" {% if c.id_clinica == id_clinica %} selected="true" {% endif %}>{{c.nombre}}</option>
              {% endfor %}
          </select>
          </div>
        </div>

        <div class="form-group row">
          <label for="pnombre" class="col-4 col-form-label">Primer Nombre</label> 
          <div class="col-8">
          <input id="pnombre" name="pnombre" type="text" class="form-control" required="required">
          </div>
        </div> 

        <div class="form-group row">
          <label for="snombre" class="col-4 col-form-label">Segundo Nombre</label> 
          <div class="col-8">
          <input id="snombre" name="snombre" type="text" class="form-control" required="required">
          </div>
        </div> 
        
        <div class="form-group row">
          <label for="appaterno" class="col-4 col-form-label">Apellido Paterno</label> 
          <div class="col-8">
          <input id="appaterno" name="appaterno" type="text" class="form-control" required="required">
          </div>
        </div> 

        <div class="form-group row">
          <label for="apmaterno" class="col-4 col-form-label">Apellido Materno</label> 
          <div class="col-8">
          <input id="apmaterno" name="apmaterno" type="text" class="form-control" required="required">
          </div>
        </div> 
        
        <div class="form-group row">
          <label for="telefono" class="col-4 col-form-label">Telefono</label> 
          <div class="col-8">
          <input id="telefono" name="telefono" type="number" class="form-control" required="required">
          </div>
        </div> 

        <div class="form-group row">
          <label for="email" class="col-4 col-form-label">Correo</label> 
          <div class="col-8">
          <input id="email" name="email" type="email" class="form-control" required="required">
          </div>
        </div> 

        <div class="form-group row">
          <label for="direccion" class="col-4 col-form-label">Dirección</label> 
          <div class="col-8">
          <input id="direccion" name="direccion" type="text" class="form-control" required="required">
          </div>
        </div> 

        <div class="form-group row">
          <label for="region" class="col-4 col-form-label">Región</label> 
          <div class="col-8">
          <select id="region" name="region" class="custom-select" required="required" onchange="getRegionSelected()">
              <option value="" selected="true" disabled="disabled">- Seleccione -</option>
              {% for r in regiones %}
              <option value="{{ r.id_region }}">{{ r.num_rom }} - {{ r.nombre }}</option>
              {% endfor %}
          </select>
          </div>
        </div>
      
        <div class="form-group row">
          <label for="provincia" class="col-4 col-form-label">Provincia</label> 
          <div class="col-8">
            <select id="provincia" name="provincia" class="custom-select" required="required" onchange="getProvinceSelected()">
                <option value="" selected="true" disabled="disabled">- Seleccione -</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="comuna" class="col-4 col-form-label">Comuna</label> 
          <div class="col-8"> 
          <select id="comuna" name="comuna" class="custom-select" required="required">
              <option value="" selected="true" disabled="disabled">- Seleccione -</option>
          </select>
          </div>
        </div>

        <div class="form-group row">
          <label for="rol" class="col-4 col-form-label">Rol</label> 
          <div class="col-8"> 
          <select id="rol" name="rol" class="custom-select" required="required">
              <option value=""  disabled="disabled">- Seleccione -</option>
              {% for r in roles%}
                <option value="{{r.id_rol}}">{{r.descripcion}}</option>
              {% endfor %}
          </select>
          </div>
        </div>

        <div class="form-group row">
          <label for="username" class="col-4 col-form-label">Usuario</label> 
          <div class="col-8">
          <input id="username" name="username" type="text" class="form-control" required="required">
          </div>
        </div>
        <div class="form-group row">
          <label for="passwd" class="col-4 col-form-label">Contraseña</label> 
          <div class="col-8">
          <input id="passwd" name="passwd" type="password" class="form-control" required="required">
          </div>
        </div> 

        <div class="form-group row">
          <div class="offset-4 col-8">
              <button name="back" onclick="history.back(); return false;" class="btn btn-warning"><i class="fa fa-angles-left"> </i>  Volver </button>
          <button name="submit" type="submit" class="btn btn-primary">Añadir</button>
          </div>
        </div>
      </form>

</div>

<script>
  // Función para filtrar las opciones del select
  function filtrarSelect() {
    // Obtener el valor de la cookie
    var valorCookie = getCookie("id_clinica");

    // Obtener el select
    var select = document.getElementById("id_clinica");

    // Obtener todas las opciones del select
    var opciones = select.getElementsByTagName("option");

    if ( getCookie("rol_id") != 1 ) {

    
    // Iterar sobre las opciones del select y ocultar aquellas que no coincidan con el valor de la cookie
    for (var i = 0; i < opciones.length; i++) {
      var opcion = opciones[i];

      if (opcion.value !== valorCookie) {
        opcion.style.display = "none";
      }
    }

    }

  }
  // Ejecutar el filtro del select al cargar la página
  window.addEventListener("load", filtrarSelect);
</script>

{% endblock %}