{% extends '../../index_master.html' %}
{% block title %}
FCV | Vacunas
{% endblock %}




{% block content %}
<div class="right_col" role="main">
    <h1>Vacunas | Agregar</h1>
    {% csrf_token %}
    <form method="POST">
      <div class="form-group row">
        <label for="id_especie" class="col-4 col-form-label">Especie</label> 
        <div class="col-8">
        <select id="id_especie" name="id_especie" class="custom-select" required="required">
            <option value="" selected="true" disabled="disabled">- Seleccione -</option>
            {% for e in especies %}
            <option value="{{ e.id_especie }}">{{ e.descripcion }}</option>
            {% endfor %}
        </select>
        </div>
    </div>
        <div class="form-group row">
          <label for="nom_vac" class="col-4 col-form-label">Nombre vacuna</label> 
          <div class="col-8">
            <input id="nom_vac" name="nom_vac" type="text" class="form-control">
          </div>
        </div> 
        <div class="form-group row">
          <div class="offset-4 col-8">
            <button name="back" onclick="history.back(); return false;" class="btn btn-warning"><i class="fa fa-angles-left"> </i>  Volver </button>
            <button name="submit" type="submit" class="btn btn-primary">Agregar</button>
          </div>
        </div>
      </form>

</div>

{% endblock %}